body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #F9FAf8;
}

header {
    background-color: #1F2712;
    color: #F9FAf8;
    margin: 0;
    height: 48px;
}
.logo {
    font-size: 24px;
    margin: auto 0;
    padding: 12px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 12px;
}
nav > ul > li:hover {
    cursor: pointer;
}
a {
    text-decoration: none;
    color: inherit;
}

.main-panel {
    background-color: #1F2937;
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
    height: 300px;
}

.main-texts {
    padding: 12px;
}
.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAf8;
}
.hero-secondary {
    font-size: 18px;
    color:#e5e7eb; 
}
.main-image {
    max-width: 30vw;
    padding: 12px;
}

.center {                   /*is this necessary?*/
    text-align: center;
}

.information {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding-top: 24px;
    margin-bottom: -12px;
}

.resources {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 24px 48px;
    height: 400px;
}

.tiles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 8px;
    
}

.tiles img {
    border-radius: 25px;
    background: #3882f6;
    padding: 4px;
    width: 150px;
    height: 150px;
}

.quote {                        /*is flexbox necessary?*/
    background: #e5e7eb;
    padding: 24px;
    height: 300px;
}

.quote h1 {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
    text-align: center;
}

.quote p {
    font-size: 18px;
    text-align: end;
}

.email-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
    max-height: 100px;
    max-width: 70%;
    margin: 100px;
    background: #3882f6;
    border-radius: 25px;
    padding: 24px;
}


footer {
    height: 24px;
    font: 12px;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1F2937;
}